@import url(https://fonts.bunny.net/css?family=fira-sans:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.bunny.net/css?family=fira-code:300,400,500,600,700);

:root {
    --link-color: #000;
    --nav-background: #aaaaf2;
    --code-background: #222;
    --code-color: #fff;
    font-family: "Fira Sans", sans-serif;
    scroll-behavior: smooth;
    background-color: #fff;
}

.scroll-x {
    overflow-x: scroll;
}

.blog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    min-width: 50vw;
    max-width: 95vw;
    width: 7in;

    z-index: 0;
}

.blog h1 {
    text-align: center;
}

.blog p {
    text-indent: 0.5in;
}

.blog blockquote {
    position: relative;
}

.blog blockquote::before {
    content: "";
    position: absolute;
    left: -1%;
    top: -3%;
    width: 0.25%;
    height: 106%;
    background-color: #ccc;
}

.blog blockquote p {
    text-indent: 0;
}

.blog img {
    border: 1px solid #000;
}

.inlinecode {
    border-radius: 1mm;
    background-color: rgb(13, 17, 23);
    padding-right: 1.25mm;
    padding-left: 1.25mm;
    padding-bottom: 0.5mm;
    overflow-x: visible;
}

.codelink {
    text-decoration: none;
    font-weight: bolder;
}

.inlinecode code {
    position: relative;
    font-size: medium;
    font-family: "Fira Code", monospace;

    background: linear-gradient(90deg, #f42a29, #e5e838);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    max-width: fit-content;

}

.blog img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    overflow-x: scroll;
    float: visible;
}

h1:focus {
    outline: none;
}

h1 {
    font-weight: 900;
}

#app {
    padding-top: 1em;
}

#app > nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    max-height: max-content;
    background-color: var(--nav-background);
    --border-bottom-radius: 0.5em;
    border-bottom-left-radius: var(--border-bottom-radius);
    border-bottom-right-radius: var(--border-bottom-radius);
    transition: top 0.3s;

    z-index: 999;
}

/* Navbar links. */
#app > nav a {
    margin: 0.35em;
    margin-bottom: 0.5em;
    padding: 0.25em;
    text-decoration-line: none;
    color: var(--link-color);
    font-weight: 600;
    border-radius: 0.5em;

    transition: background-color 0.25s;
    background-color: rgba(255, 255, 255, 0);

    transform: scale(1, 1);

}

/* For accessibility features */
#app > nav a:focus {
    transition: transform 0.1s;
    transform: scale(1.2, 1.2);
    text-decoration-line: underline;
    text-decoration-thickness: 10%;
    outline: none;
}

/* Neat little background hover. Fades in slower than it fades out. */
#app > nav a:hover {
    transition: background-color 0.5s;
    background-color: rgba(255, 255, 255, 0.3);
    transition: transform 0.1s;
    transform: scale(1.2, 1.2);
}

.shuttletext {
    background: linear-gradient(90deg, #f42a29, #e5e838);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    max-width: fit-content;
}

pre, pre code {
    border-radius: 1em;
    font-family: "Fira Code", monospace;
    font-size: small;
}


/* Basic rule to grow as much as possible */
.navSpacer {
    flex-grow: 1;
}
